{% extends 'base.html.twig' %}

{% block title %}Me connecter{% endblock %}

{% block body %}

<h1 class="mt-4">Me connecter</h1>

<form action="{{path('security_login')}}" method="post" class="card bg-light mb-3" style="max-width: 40rem;">

    <div class="card-body">
        <span>Veuillez indiquer votre adresse mail</span>

        <input placeholder="adresse@mail.com" 
                required name="_username" 
                type="text" 
                class="form-control">
        <br>
        <span>Veuillez entrer votre mot de passe</span>

        <input placeholder="mon super mot de passe" 
                required name="_password" 
                type="password" 
                class="form-control">
        <br>
        <button type="submit" class="btn btn-success left">Me connecter</button>
        
    </div>
</form>
    <a href=" {{ path('security_registration') }} " class="btn btn-warning">Je n'ai pas encore de compte, en créer un</a>


{% endblock %}