{% extends 'base.html.twig' %}

{% block title %}M'enregistrer{% endblock %}

{% block body %}
    <h1 class="mt-4">Créer un compte</h1>

<div class="card bg-light mb-3" style="max-width: 40rem;">
    <div class="card-body">{{ form_start(form) }}
    {{ form_row(form.username, {'label':'Nom d\'utilisateur','attr':{'placeholder':'Mon pseudonyme'}}) }}
    {{ form_row(form.email, {'label':'E-mail','attr':{'placeholder':'adresse@mail.com'}}) }}
    {{ form_row(form.password, {'label':'Mot de passe','attr':{'placeholder':'Indiquer un bon mot de passe'}}) }}
    {{ form_row(form.confirm_password, {'label':'Confirmer mot de passe','attr':{'placeholder':'Répéter le mot de passe'}}) }}

        <button type="submit" class="btn btn-success">M'inscrire</button>
    
    {{ form_end(form) }}</div>

</div>

<a href=" {{ path('security_login') }} " class="btn btn-warning mt-1" >J'ai déjà un compte</a>

{% endblock %}