{% extends 'base.html.twig' %}
{% block title %}Les catégories{% endblock %}


{% block body %}

    <h1>Création d'une catégorie</h1>

    {{ form_start(formCategory) }}

    {{ form_row(formCategory.title, {'attr': {'placeholder':"Intitulé de la catégorie"}}) }}
    {{ form_row(formCategory.description, {'attr': {'placeholder':"Descriptif de la categorie"}}) }}
    
    {{ form_widget(formCategory) }}

    <button class="submit btn btn-primary">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter la catégorie
        {% endif %}
    </button>

    {{ form_end(formCategory) }}

    

{% endblock %}