{% extends 'base.html.twig' %}
{% block title %}L'article{% endblock %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1 class="mt-4">Création d'un article</h1>

    {% if app.user %}
        {{ form_start(formArticle) }}

        {{ form_row(formArticle.title, {'attr': {'placeholder':"Titre de l'article"}}) }}
        {{ form_row(formArticle.category, {'attr': {'placeholder':"Catégorie de l'article"}}) }}
        {{ form_row(formArticle.content, {'attr': {'placeholder':"Contenu de l'article"}}) }}
        {{ form_row(formArticle.image, {'attr': {'placeholder':"https://picsum.photos/640/360"}}) }}

        {{ form_widget(formArticle) }}

        <button class="submit btn btn-primary">
            {% if editMode %}
                Enregistrer les modifications
            {% else %}
                Ajouter l'article
            {% endif %}
        </button>

        {{ form_end(formArticle) }}

    {% else %}
        

        <div class="alert alert-dismissible alert-warning">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Attention !</h4>
  <p class="mb-0">Vous ne pouvez pas écrire un article si vous n'êtes pas connecté.e</p>
</div>
        <a href="{{path('security_login')}}" class="btn btn-danger">Connexion</a>
    {% endif %}

{% endblock %}