{% extends 'base.html.twig' %}

{% block body %}


<div class="jumbotron mt-4">
  <h1 class="display-4">{{ title }}</h1>
  <p class="lead">Pellentesque sed dui ut augue blandit sodales. 
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
posuere cubilia Curae; Aliquam nibh. </p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Sed non risus. Suspendisse lectus tortor, dignissim sit amet, 
adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. 
Maecenas ligula massa, varius a, semper congue, euismod non, mi. 
Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, 
non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, 
scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. 
Ut in risus volutpat libero pharetra tempor.  </p>

<p> 
Cras vestibulum bibendum augue. Praesent egestas leo in pede. 
Praesent blandit odio eu enim. 
Pellentesque sed dui ut augue blandit sodales. 
Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede 
pellentesque fermentum. 
Maecenas adipiscing ante non diam sodales hendrerit. </p>
<p class="lead">
    <a class="btn btn-primary btn-lg" href="{{path('blog')}}" role="button">Voir les articles</a>
  </p>
</div>

{# <img src="/pexels-tirachard-kumtanom-733856.jpg" class="img-fluid" alt=""> #}









{% endblock %}