{% extends 'base.html.twig' %}

{% block title %}Voir les articles{% endblock %}

{% block body %}

<section class="articles mt-4">
    {% for article in articles %}
        <article>
            <h2 class="mt-2">{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt |date("d/m/Y") }} à {{ article.createdAt |date("H:i") }} dans la catégorie {{article.category.title}}</div>
            <div class="content">
                <img src="{{ article.image }}" class="img-fluid" alt="">
                <p>{{ article.content | raw}}</p>
                
                <a href=" {{ path('blog_show', {'id': article.id}) }} " class="btn btn-primary">Lire la suite</a>
            </div>
            <hr>
        </article>
    {% endfor %}
</section>
{% endblock %}
