{% extends 'base.html.twig' %}

{% block title %}Voir les catégorie{% endblock %}

{% block body %}

{# <section class="categories">
    {% for category in categories %}
        <category>
            <h2>{{ category.title }}</h2>
            
            <div class="content">
                
                <p>{{ category.description | raw}}</p>
                
            </div>
        </category>


    {% endfor %}
</section> #}

<h2 class="mt-4">Voir les catégories</h2>
<table class="table table-hover">

  <thead>
    <tr>
      <th scope="col">Intitulé</th>
      <th scope="col">Descriptif</th>
    </tr>
  </thead>
  {% for category in categories %}
  <tbody>
    <tr>
      <th scope="row">{{ category.title }}</th>
      <td>{{ category.description | raw}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
{% endblock %}