{% extends 'base.html.twig' %}

{% block title %}Voir l'article{% endblock %}

{% block body %}

<article>
    <h2 class="mt-4">{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt | date("d/m/Y") }} à {{ article.createdAt | date("H:i") }}  dans la catégorie {{article.category.title}}</div>
    <div class="content">
        <img src="{{ article.image }}" class="img-fluid" alt="">
        <p>{{ article.content | raw}}</p>
        </div>
</article>
<section id="commentaires">
<h2>{{ article.comments | length }} Commentaire.s : </h2>
    {% for comment in article.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{comment.author}} {{comment.createdAt | date("m/d/Y H:i") }}
                </div>
                <div class="col">
                    {{comment.content | raw }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.author, {'attr':{'placeholder':"votre nom"}})}}
        {{ form_row(commentForm.content, {'attr':{'placeholder':"votre commentaire"}})}}
        
        <button type="submit" class="btn btn-success mb-2">Commenter</button>
        {{ form_end(commentForm) }}
    {% else %}
        
        <div class="alert alert-dismissible alert-light">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oups !</strong> Vous ne pouvez pas commenter si vous n'êtes pas connecté.e
        </div>
        <a href="{{path('security_login')}}" class="btn btn-danger mb-4">Connexion</a>
    {% endif %}


</section>

{% endblock %}