<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://bootswatch.com/4/minty/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title> 
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{path('home')}}">Blog</a>

            <button class="navbar-toggler" 
                    type="button" 
                    data-toggle="collapse" 
                    data-target="#navbarColor01"
                    aria-controls="navbarColor01"
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                        <a class="nav-link" href="{{path('home')}}">Accueil<span class="sr-only">(current)</span></a>
                    </li>

                    {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('blog')}}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('blog_create')}}">Créer un article</a>
                    </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="{{path('security_login')}}">Me connecter</a>
                        </li>
                    {% else %}
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-primary">Articles</button>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                    <a class="dropdown-item" href="{{path('blog')}}">Voir les articles</a>
                                    <a class="dropdown-item" href="{{path('blog_create')}}">Ecrire un article</a>
                                </div>
                            </div>
                        </div>

                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-primary">Catégories</button>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                    <a class="dropdown-item" href="{{path('category')}}">Voir les catégories</a>
                                </div>
                            </div>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('security_logout')}}">Me déconnecter</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            {% block body %}{% endblock %}
            {% block javascripts %}
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
            {% endblock %}
        </div>

    </body>
</html>
